$bg-color: white;

div.contact-container {
    width: 350px;
    height: 150px;
    background-color: $bg-color;
    border-radius: 4px;
    padding: 1em;
    box-shadow:
        0px 3px 1px -2px rgba(0, 0, 0, 0.2),
        0px 2px 2px 0px rgba(0, 0, 0, 0.14),
        0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    user-select: none;
    @media (max-width:427px) {
        width: 100%;
        height: max-content;
    }
    // opacity: 0;


    // animation: appear 0.4s ease-in 0s 1 forwards;

    // &:nth-child(1) {
    //     animation-delay: 0.6s;
    // }
    // &:nth-child(2) {
    //     animation-delay: 0.8s;
    // }
    // &:nth-child(3) {
    //     animation-delay: 1s;
    // }
    > p.heading {
        font-weight: 600;
        margin-bottom: 1em;
        text-align: center;
    }
    > div.cnt-rest {
        margin-top: 1em;
        &.call {
            display: flex;
            flex-direction: column;
            
        }
        &.social {
            > ul.social {
                list-style: none;
                display: flex;
                justify-content: center;
                gap: 1em;
                > li {
                    > a {
                        font-size: 2em;
                        @media (max-width:427px) {
                            font-size: 1.1em;
                        }
                        > svg {
                            height: 1.3em;
                        }
                    }
                }
            }
        }
    }
}