<div class="wrapper">
    <div class="control">
        <ul>
            <li *ngFor="let c of templates;let index=index">
                <button [attr.data-in]="'[control-'+index+']'" class="product-video-control"
                    [ngClass]="currentIndex === index ?  'active':''" (click)="ControlButtonClicked(index)">
                    <ng-container *ngTemplateOutlet="c"></ng-container>
                </button>
            </li>
        </ul>
    </div>
    <div class="video">
        <video #vid autoplay muted loop>
            <source [src]="path.AppendPath(videoLink)" />
        </video>
    </div>
    <div class="product-video-text" #prod>
        <span *ngFor="let c of videos;let index=index" [attr.data-index]="index">{{c.content}}</span>
    </div>
</div>