$breaking-point: 799px;

div.wrapper {
    padding: 1em;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
    width: 763px;
    border-radius: 4px;
    margin: 0 auto;
    @media (max-width: $breaking-point) {
        width: auto !important;
        padding: 10px;
    }
    > div.control {
        @media (max-width: $breaking-point) {
            margin-bottom: 5px;
        }
        > ul {
            list-style: none;
            display: flex;
        }
    }
    > div.video {
        > video {
            width: 100%;
        }
    }
    > div.product-video-text {
        margin-top: 1em;
        > span {
            display: none;
        }
        > span:nth-of-type(1) {
            display: inline;
        }
    }
}
