<header>
    <img src="/images/logo.jpg" alt="logo">
    <nav #nav>
        <ul>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></li>
            <li routerLinkActive="active"><a routerLink="/product">Products</a></li>
            <li routerLinkActive="active"><a routerLink="/contact">Contact Us</a></li>
            <li routerLinkActive="active"><a routerLink="/about">About Us</a></li>
        </ul>
    </nav>
    <button class="ham" (click)="ShowHeaderMenu()" aria-label="menu for main links">
        <span></span>
        <span></span>
        <span></span>
    </button>
</header>