<header>
    <img src="/images/logo.jpg" alt="logo" loading="lazy">
    <nav #nav>
        <ul>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></li>
            <li routerLinkActive="active"><a routerLink="/about-us">About Us</a></li>
            <li>
                <a [matMenuTriggerFor]="me" style="text-decoration: underline;cursor: pointer;">Products & Solutions</a>
                <mat-menu #me>
                    <ul class="drop-menu">
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/smart-home-automation-solutions">Home Automation Solutions</a></li>
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/smart-office-automation-solutions">Office Automation Solutions</a></li>
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/industrial-automation-solutions">Industrial Automation Solutions</a></li>
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/cctv-video-surveillance-security-cameras">Security Cameras & Centralized Surveillance</a></li>
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/space-saving-furniture-solutions">Space-Saving Multi-Functional Furniture</a></li>
                        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/solar-energy-solutions">Solar Energy Solutions</a></li>
                    </ul>
                </mat-menu>
            </li>
            <li routerLinkActive="active"><a routerLink="/software-consulting-services">Software Consulting</a></li>
            <li routerLinkActive="active"><a routerLink="/contact-us">Contact Us</a></li>
        </ul>
    </nav>
    <button class="ham" (click)="ShowHeaderMenu()" aria-label="menu for main links">
        <span></span>
        <span></span>
        <span></span>
    </button>
</header>