header {
    background-color: white;
    padding: 1em 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.3);
    > img {
    }
    > ul {
        display: flex;
        gap: 1em;
        list-style: none;
        > li {
            &:hover {
                color: #00a7f8;
            }
            > a {
            }
        }
    }
}
