div.wrapper {
    > h2 {
        text-align: center;
        margin-bottom: 1em;
    }
    > div.boxes {
        > div.homebox {
            animation: appear 0.6s ease-in 0s 1 forwards;
            opacity: 0;
        }
    }
}
