<div class="main-contact">
    <div class="contact-rest">
        <div class="container">
            <p class="heading">Call Us</p>
            <div class="cnt-rest">9999999999</div>
        </div>
        <div class="container">
            <p class="heading">Follow us</p>
            <div class="cnt-rest">Social media links</div>
        </div>
        <div class="container">
            <p class="heading">Visit us</p>
            <div class="cnt-rest">Location</div>
        </div>
    </div>
    <div class="contact-form">
        <form>
            <p class="heading">Contact us</p>
            <div class="row">
                <label>
                    <span>your email</span>
                    <input type="text">
                </label>
            </div>
            <div class="row">
                <label>
                    <span>your query</span>
                    <textarea></textarea>
                </label>
            </div>
            <div class="row">
                <button mat-raised-button color="primary">Send</button>
            </div>
        </form>
    </div>
</div>