$bg-color: white;

div.main-contact {
    display: flex;
    gap: 1em;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    @media (max-width:784px) {
        flex-direction: column;
    }
    > div.contact-rest {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    
}
