section.contact-wrapper {
    > section.hero {
        margin-bottom: 1em;
        > h1 {
            font-size: 2rem;
        }
    }
    > section.social {
        margin-bottom: 1em;
        > h2 {
            font-size: 1.5rem;
        }
        > ul {
            list-style: none;
            display: flex;
            gap: 10px;
            > li {
                > a {
                    > svg, img {
                        height: 25px;
                        object-fit: contain;
                    }
                }
            }
        }
    }
}
