<div class="contact-form">
    <form>
        <p class="heading">Contact us</p>
        <div class="row">
            <label>
                <span>your email</span>
                <input type="text">
            </label>
        </div>
        <div class="row">
            <label>
                <span>your query</span>
                <textarea></textarea>
            </label>
        </div>
        <div class="row action">
            <button mat-raised-button color="primary">Send</button>
        </div>
    </form>
</div>