<mat-nav-list>
    <a target="_blank" href="https://www.google.com/maps/place/Generation+Of+Automation+Solutions+(GOAS)+-+Bangalore/@12.94944,77.62488,19z/data=!4m6!3m5!1s0x3bae1413b4a2efe7:0x48b968f15ab41827!8m2!3d12.9494395!4d77.6248798!16s%2Fg%2F11j07ww_lr?hl=en&entry=ttu&g_ep=EgoyMDI1MDUxMy4xIKXMDSoASAFQAw%3D%3D"
        mat-list-item>
        <span matListItemTitle>Bangalore branch</span>
        <span matLine>click to launch google maps</span>
    </a>
    <a target="_blank" href="https://www.google.com/maps?ll=20.243461,85.769156&z=15&t=m&hl=en&gl=IN&mapclient=embed&q=20%C2%B014%2736.5%22N+85%C2%B046%2718.2%22E+20.243472,+85.771722@20.2434722,85.7717222"
        mat-list-item>
        <span matListItemTitle>Bhubaneshwar branch</span>
        <span matLine>click to launch google maps</span>
    </a>
    <a target="_blank" href="https://www.google.com/maps?ll=20.474309,85.832644&z=11&t=m&hl=en&gl=IN&mapclient=embed&cid=2038994486963791631"
        mat-list-item>
        <span matListItemTitle>Cuttack branch</span>
        <span matLine>click to launch google maps</span>
    </a>
    <a target="_blank" href="https://www.google.com/maps?ll=40.332482,-74.5998&z=17&t=m&hl=en&gl=IN&mapclient=embed&q=57+Linden+Ln+Plainsboro+Township,+NJ+08536+USA"
        mat-list-item>
        <span matListItemTitle>US branch</span>
        <span matLine>click to launch google maps</span>
    </a>
</mat-nav-list>