$breaking-point: 1064px;

div.homebox {
    padding: 1em 2em;
    background-color: white;
    margin: 1em 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    animation: appear 0.6s ease-in 0s 1 forwards;
    opacity: 0;
    gap: 1em;
    @media (max-width:$breaking-point) {
        grid-template-columns: 1fr;
        gap: 1em;
    }
    > div.mobile-header {
        display: none;
        @media (max-width:$breaking-point) {
            display: block;
        }
        > h3.header {
        }
    }

    > div.img {
        > img {
            margin-left: 30px;
            display: block;
            height: 225px;
            object-fit: contain;
            @media (max-width:600px) {
                margin-left: 0;
                height: unset;
                width: 100%;
            }
        }
    }
    > div.content {
        > h3.header {
            margin-bottom: 1em;
            @media (max-width:$breaking-point) {
                display: none;
            }
        }
    }
}
