<div class="wrapper">
    <h2>Solar Energy</h2>
    <p class="desc-solar">
        <span class="content">Solar energy is a powerful source of energy that can be used to light homes and
            businesses.</span>
    </p>
    <div class="solar-images">
        <figure>
            <img src="/images/automation/solar/solar-home-1.webp" alt="Solar Home">
            <figcaption>Home installation of Solar panel</figcaption>
        </figure>
        <figure>
            <img src="/images/automation/solar/solar-industry.webp" alt="Industry Home">
            <figcaption>Industry/office installation of Solar panel</figcaption>
        </figure>
    </div>
    <p class="desc-solar">
        <span class="tab tab1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span class="tab tab2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span class="content">More energy from the sun falls on the earth in one hour than is used by everyone in the
            world in one year. A variety of technologies convert sunlight to usable energy for buildings. The most
            commonly used solar technologies for homes and businesses are solar photovoltaics for electricity.</span>
    </p>
    <p class="desc-solar">
        <span class="tab tab1">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span class="tab tab2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span class="content">Businesses and industry use solar technologies to diversify their energy sources, improve
            efficiency, and save money. Energy developers and utilities use solar photovoltaic and concentrating solar
            power technologies to produce electricity on a massive scale to power cities and small towns.</span>
    </p>
    <div class="video">
        <h4>Gallery</h4>
        <p>watch below video to understand Solar power</p>
        <iframe src="https://www.youtube-nocookie.com/embed/bPwvS5V5RW4?si=DKz15JzBKZXtvtf5"
            title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    </div>
</div>