<app-hero h1="Smart Solar Energy Solutions for Homes, Offices & Industries | Bangalore, Bhubaneswar & Cuttack"
    p="Harness the power of solar and smart energy automation with GOAS. We offer end-to-end solar panel installation and smart energy management systems for homes, offices, and industrial sites in Bangalore, Bhubaneswar and Cuttack. Save energy, reduce costs, and go green today!"
    [showCLient]="true">
    <div class="actions" actions>
        <a class="sec" href="">Request Free Consultation&nbsp;&nbsp;&rarr;</a>
    </div>
</app-hero>
<section class="products">
    <h2>Our Solar Solutions</h2>
    <div class="product">
        <h3>Solar Panel Installation</h3>
        <ul>
            <li>Rooftop solar for homes and apartments</li>
            <li>Commercial solar installations for offices and buildings</li>
            <li>Industrial solar farms and grid integration</li>
            <li>Battery backup and energy storage solutions</li>
        </ul>
    </div>
    <a class="btn sec" href="">Request a Free Consultation</a>
</section>
<section class="why products">
    <h2>Benefits of Solar + Energy Automation</h2>
    <div class="product">
        <ul>
            <li>Save up to 70% on energy bills</li>
            <li>Eco-Friendly</li>
            <li>Increased property value</li>
            <li>Minimal maintenance requirements</li>
            <li>Enjoy uninterrupted power with battery support</li>
            <li>Automate energy usage for greater efficiency</li>
        </ul>
    </div>
    <a class="btn sec" href="">Request a Free Consultation</a>
</section>
<app-service-areas header="We provide local, personalized service in:" bangalore="and surrounding areas"
    bhubaneshwar="and surrounding areas" cuttack="and surrounding areas"></app-service-areas>