<div class="wrapper">
    <h2>Home Automation</h2>
    <div class="boxes">
        <div class="homebox">
            <div class="img">
                <img loading="lazy" src="/images/automation/gateautomation.jpg" alt="">
            </div>
            <div class="content">
                <h3 class="header">Gate automation</h3>
                <p>Automate opening and closing of Gate and control it using mobile.</p>
            </div>
        </div>
        <div class="homebox">
            <div class="img">
                <img loading="lazy" src="/images/automation/doorlock.jpg" alt="">
            </div>
            <div class="content">
                <h3 class="header">Door automation</h3>
                <p>Automate doors and control it using mobile.</p>
            </div>
        </div>
        <div class="homebox">
            <div class="img">
                <img loading="lazy" src="/images/automation/light.png" alt="">
            </div>
            <div class="content">
                <h3 class="header">Lights automation</h3>
                <p>control the lighting with mobile devices with RGB to change the color</p>
            </div>
        </div>
        <div class="homebox">
            <div class="img">
                <img loading="lazy" src="/images/automation/curtainautomation.jpg" alt="">
            </div>
            <div class="content">
                <h3 class="header">Curtian automation</h3>
                <p>control curtians with mobile device</p>
            </div>
        </div>
    </div>
</div>