<div class="wrapper">
    <p class="mission">&quot;<em>Your Concern Is Our Innovation</em>&quot;</p>
    <p class="synaposis">We have been providing Software consultancy to Major Software companies in IT World</p>
    
    <div class="automation-wrapper">
        <p class="header">Home Automation : We have been providing Mobile and voice control Solutions for</p>
        <ul>
            <li>
                <p>Gate Automation</p>
            </li>
            <li>
                <p>Door Lock Automation</p>
            </li>
            <li>
                <p>Lighting Automation</p>
            </li>
            <li>
                <p>AC and Geyser Automation</p>
            </li>
            <li>
                <p>Curtain Automation</p>
            </li>
            <li>
                <p>Robots for Floor Cleaning and Mopping</p>
            </li>
            <li>
                <p>CCTV Solutions</p>
            </li>
        </ul>
    </div>

    <div class="automation-wrapper">
        <p class="header">Office Automation</p>
        <ul>
            <li>
                <p>Office Access Control</p>
            </li>
            <li>
                <p>Complete CCTV Solution</p>
            </li>
            <li>
                <p>Parking Solution</p>
            </li>
            <li>
                <p>Attendance Solution</p>
            </li>
        </ul>
    </div>
    
    <div class="automation-wrapper">
        <p class="header">Industrial Automation</p>
        <ul>
            <li>
                <p>We can Provide all the automation Solutions as per need of industry</p>
            </li>
        </ul>
    </div>
    
    <div class="automation-wrapper">
        <p class="header">Mobile Space Automation</p>
        <ul>
            <li>
                <p>Using this Automation we can change Living room to Office Room/ Dining space as per need or time by virtue of Mobile click or voice control</p>
            </li>
        </ul>
    </div>
</div>