<section class="about-wrapper">
    <section class="hero">
        <h1>About Us</h1>
        <p class="tagline">"<em>Your Concern Is Our Innovation</em>"</p>
        <p class="tagline">Our R&D centre for Artificial Intelligence: Velesium Lab.</p>
    </section>
    <section class="who">
        <h2>Who We Are</h2>
        <p>Welcome to GOAS. We're a technology-driven company committed to reshaping how homes, offices, industries and
            enterprises operate. From smart automation products to deep-tech software consulting, we empower clients
            across India to embrace the digital future.</p>
    </section>
    <section class="our">
        <h2>Our Approach</h2>
        <ol>
            <li>
                <h3>Listen:</h3>We start by understanding your specific needs and challenges.
            </li>
            <li>
                <h3>Design:</h3>We create custom solutions that fit your requirements and budget.
            </li>
            <li>
                <h3>Implement:</h3>We install and integrate systems with minimal disruption.
            </li>
            <li>
                <h3>Support:</h3>We provide ongoing maintenance and updates to ensure long-term success.
            </li>
        </ol>
    </section>
    <section class="team"><!--TODO: check with Hemantha about CEO, Founder and CTO---></section>
    <section class="clients">
        <h2>Our Clients</h2>
        <img src="/images/goasos-clients-list.png" alt="goasos clients list">
    </section>
    <section class="partner">
        <h2>Partner With Us</h2>
        <p>Whether you're looking to automate your home, optimize your office, enhance industrial efficiency or leverage
            advanced software solutions, GOAS is your trusted partner for innovation and excellence.</p>
    </section>
    <section class="contact">
        <a routerLink="/contact-us">Contact Us</a>
    </section>
</section>