<div class="main-home-wrapper">
    <app-hero
        h1="Smart Automation Solutions for Homes, Offices and Industries - Serving Bangalore, Bhubaneswar & Cuttack"
        p="Empowering businesses with smart home, office, industrial and energy automation along with expert software consulting in Banking, Capital Markets, and Data & AI - serving Bangalore, Bhubaneswar, and Cuttack."
        [showCLient]="true">
        <div class="actions" actions>
            <a [href]="cont.PopulateContactLocation()" (click)="analytics.HomeCtaEvent('home_request_demo')" class="pri">Request a Demo</a>
            <a [href]="cont.PopulateContactLocation()" (click)="analytics.HomeCtaEvent('home_hero_contact')" class="sec">Contact
                Us&nbsp;&nbsp;&rarr;</a>
        </div>
    </app-hero>
    <section class="about block">
        <h2>About Us</h2>
        <section class="grid">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title>
                        <h3>who we are:</h3>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>At GOAS, we combine smart automation products with consulting expertise to help businesses and
                        homeowners embrace the digital future. Our mission is to empower organizations across industries
                        by
                        delivering comprehensive, tailored solutions that drive operational efficiency, reduce costs and
                        foster
                        innovation.</p>
                </mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title>
                        <h3>our key strengths:</h3>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <ul class="card-lst">
                        <li><strong>Comprehensive Offerings:</strong>Home, Office, Industrial & Energy Automation
                            Solutions.
                        </li>
                        <li><strong>Expert Consulting:</strong>Software consulting in Banking & Financial Services,
                            Capital
                            Markets, and Data & AI.</li>
                        <li>Local expertise in Bangalore, Bhubaneswar, and Cuttack.</li>
                    </ul>
                </mat-card-content>
            </mat-card>
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title>
                        <h3>The Automation Advantage:</h3>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <ul class="card-lst">
                        <li>Increased Operational Efficiency</li>
                        <li>Significant Cost Reduction</li>
                        <li>Enhanced Security</li>
                    </ul>
                </mat-card-content>
            </mat-card>
        </section>
        <a routerLink="about" (click)="analytics.HomeCtaEvent('home_about')">Learn More About Us&nbsp;&nbsp;&rarr;</a>
    </section>
    <section class="block home-automation">
        <h2>Our Automation Solutions</h2>
        <div class="auto-sol">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title>
                        <h3>Home Automation Solutions:</h3>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>Transform your living space with intelligent systems that enhance comfort, security, and energy
                        efficiency.</p>
                </mat-card-content>
                <mat-card-actions>
                    <a class="card-cta" (click)="analytics.HomeCtaEvent('home_smart_home')">Make your Home
                        Smarter&nbsp;&nbsp;&rarr;</a>
                </mat-card-actions>
            </mat-card>
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title>
                        <h3>Office Automation Services:</h3>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>Streamline workplace operations with smart systems that boost productivity and strengthen
                        security.</p>
                </mat-card-content>
                <mat-card-actions>
                    <a class="card-cta" (click)="analytics.HomeCtaEvent('home_automation_office')">Optimize Your
                        Office&nbsp;&nbsp;&rarr;</a>
                </mat-card-actions>
            </mat-card>
            <mat-card appearance="outlined" class="space-it">
                <mat-card-header>
                    <mat-card-title>
                        <h3>Industrial Automation Systems:</h3>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>Optimize your industrial operations with robust, cloud-based solutions.</p>
                </mat-card-content>
                <mat-card-actions>
                    <a class="card-cta" (click)="analytics.HomeCtaEvent('home_automation_industry')">Boost
                        Production&nbsp;&nbsp;&rarr;</a>
                </mat-card-actions>
            </mat-card>
            <mat-card appearance="outlined" class="space-it">
                <mat-card-header>
                    <mat-card-title>
                        <h3>Energy Automation Solutions:</h3>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p>Optimize energy consumption with renewable solutions for homes and businesses.</p>
                </mat-card-content>
                <mat-card-actions>
                    <a class="card-cta" (click)="analytics.HomeCtaEvent('home_go_green')">Go Green&nbsp;&nbsp;&rarr;</a>
                </mat-card-actions>
            </mat-card>
        </div>
    </section>
    <section class="block consulting">
        <h2>Our Expert Consulting Services</h2>
        <section class="consult-grid">
            <section class="consul-type">
                <h3>Banking & Financial Services:</h3>
                <p>We help financial institutions leverage automation to streamline operations, enhance security and
                    improve
                    customer experiences.</p>
            </section>
            <section class="consul-type">
                <h3>Capital Markets Solutions:</h3>
                <p>Leverage our expertise in trade automation, risk management and data analytics to optimize operations
                    in
                    capital markets.</p>
            </section>
            <section class="consul-type">
                <h3>Data & AI Services:</h3>
                <p>Transform raw data into actionable insights. Our consulting services include data strategy
                    development,
                    machine learning, predictive analytics and business intelligence solutions.</p>
            </section>
        </section>
        <a (click)="analytics.HomeCtaEvent('home_consulting')">Learn More About Our Consulting
            Services&nbsp;&nbsp;&rarr;</a>
    </section>
    <section class="block locations">
        <h2>Our Locations</h2>
        <div class="locals">
            <mat-card appearance="outlined">
                <mat-card-header>
                    <mat-card-title>
                        <h3>Bengaluru:</h3>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <address>
                        #103, Plot-56/2, Ashiana Garden, Off, 100 Feet Rd, Doopanahalli, Indiranagar, Bengaluru,
                        Karnataka 560008
                    </address>
                    <p><a (click)="analytics.HomeCtaEvent('home_phone_bangalore')" href="tel:+919845812673">+91-98458
                            12673</a></p>
                    <p>Our Bengaluru office specializes in cutting-edge automation solutions for tech businesses and
                        modern homes.</p>
                </mat-card-content>
                <mat-card-actions>
                    <a target="_blank" (click)="analytics.HomeCtaEvent('home_location_bangalore')"
                        href="https://www.google.com/maps?ll=12.94944,77.62488&z=20&t=m&hl=en&gl=IN&mapclient=embed&cid=5240335027240441895">Get
                        directions&nbsp;&nbsp;&rarr;</a>
                </mat-card-actions>
            </mat-card>
            <mat-card appearance="outlined" class="space-it">
                <mat-card-header>
                    <mat-card-title>
                        <h3>Bhubaneswar:</h3>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <address>
                        A/4 ,282,Kalyani Nagar, Patrapada, Bhubaneswar, Odisha 751019
                    </address>
                    <p><a (click)="analytics.HomeCtaEvent('home_phone_Bhubaneshwar')" href="tel:+918249003143">+91-82490
                            03143</a></p>
                    <p>Our Bhubaneswar center delivers comprehensive automation systems for residential and commercial
                        clients.</p>
                </mat-card-content>
                <mat-card-actions>
                    <a target="_blank" (click)="analytics.HomeCtaEvent('home_location_Bhubaneshwar')"
                        href="https://www.google.com/maps?ll=20.243461,85.769156&z=16&t=m&hl=en&gl=IN&mapclient=embed&q=20%C2%B014%2736.5%22N+85%C2%B046%2718.2%22E+20.243472,+85.771722@20.2434722,85.7717222">Get
                        directions&nbsp;&nbsp;&rarr;</a>
                </mat-card-actions>
            </mat-card>
            <mat-card appearance="outlined" class="space-it">
                <mat-card-header>
                    <mat-card-title>
                        <h3>Cuttack:</h3>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <address>
                        Plot:437/C, Sector - 6, Markat Nagar, Cuttack, Odisha 753014
                    </address>
                    <p><a (click)="analytics.HomeCtaEvent('home_phone_cuttack')" href="tel:+919845812673">+91-98458
                            12673</a></p>
                    <p>Our Cuttack facility showcases our latest home and office automation technologies.</p>
                </mat-card-content>
                <mat-card-actions>
                    <a target="_blank" (click)="analytics.HomeCtaEvent('home_location_cuttack')"
                        href="https://www.google.com/maps?ll=20.474309,85.832644&z=12&t=m&hl=en&gl=IN&mapclient=embed&cid=2038994486963791631">Get
                        directions&nbsp;&nbsp;&rarr;</a>
                </mat-card-actions>
            </mat-card>
        </div>
    </section>
    <app-contact h2="Your Trusted Partner for Automation Solutions" h3="Ready to Automate?" />
</div>