<div class="video-wrapper">
    <p>{{title}}</p>
    <ng-container *ngTemplateOutlet="embed ? y:v"></ng-container>
</div>
<ng-template #v>
    <video controls preload=" metadata" loading="lazy" [poster]="poster" controlslist="nodownload">
        <source [src]="src" />
    </video>
</ng-template>
<ng-template #y>
    <iframe [src]="src | video" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</ng-template>