div.wrapper {
    background: white;
    padding: 1em;
    > h6 {
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 10px;
    }
    > div.videos {
        display: grid;
        grid-template-columns: 500px 500px 500px;
        @media (max-width:1915px) {
            grid-template-columns: 500px 500px;
        }
        @media (max-width:1379px) {
            grid-template-columns: 500px;
        }
        @media (max-width:1376px) {
            grid-template-columns: 500px 500px;
        }
        @media (max-width:1100px) {
            grid-template-columns: 500px;
        }
        @media (max-width:568px) {
            grid-template-columns: 1fr;
        }
        justify-content: center;
        gap: 1em;
        > app-video {
        }
    }
}
