$primary-color: #00a7f8;
section.locations {
    padding-left: 0;
    @media (max-width: 1376px) {
        padding-right: 0;
    }
    > h2 {
        margin-bottom: 0.5em;
        margin-left: 1em;
    }
    > div.locals {
        display: grid;
        grid-template-columns: 500px 500px 500px;
        @media (max-width: 1905px) {
            grid-template-columns: 500px 500px;
        }
        @media (max-width: 1049px) {
            grid-template-columns: 500px;
            justify-content: center;
        }
        @media (max-width: 600px) {
            grid-template-columns: 1fr;
            justify-content: center;
        }
        gap: 1em;
        .space-it {
            justify-content: space-between;
            div.wrap {
                display: flex;
                gap: 1em;
                @media (max-width: 389px) {
                    flex-direction: column;
                    gap: 0;
                }
                a {
                    color: $primary-color;
                    cursor: pointer;
                    padding: 0.5em;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}
