<mat-accordion>
    <mat-expansion-panel expanded="true">
        <mat-expansion-panel-header class="contact-header">
            <mat-panel-title>{{heading}}</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="address-wrapper">
            <div class="call">
                <p class="heading">{{isEmail ? 'Write':'Call'}} Us</p>
                <div class="cnt-rest call">
                    <a [href]="sanitizePhoneNumber(c)" *ngFor="let c of numbers">
                        <mat-icon [fontIcon]="isEmail ? 'mail': 'call'"></mat-icon>
                        <span class="num">{{c}}</span>
                    </a>
                </div>
            </div>
            <mat-divider class="contact" />
            <div class="location">
                <p class="heading">Visit us</p>
                <div class="cnt-rest location">
                    <iframe [src]="domSanitizer.bypassSecurityTrustResourceUrl(location)" style="border:0;"
                        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>