<!--TODO create common hero component-->
<app-hero [showCLient]="true"
    p="Transform your home into a smart, secure and energy-efficient space with our cutting-edge home automation solutions. We offer smart lighting, security systems, voice-controlled devices, and AI-powered smart home setups in Bengaluru, Bhubaneswar & Cuttack."
    h1="Elevate Your Living: Smart Home Automation Solutions in Bangalore, Bhubaneswar & Cuttack">
    <div class="actions" actions>
        <a class="sec" href="">Schedule Free Home Automation Consultation&nbsp;&nbsp;&rarr;</a>
    </div>
</app-hero>