<section class="contact" id="contact-section">
    <h2>{{h2}}</h2>
    <p>Contact us to request a demo or schedule a consultation.</p>
    <form [formGroup]="contactGroup" (ngSubmit)="FormSubmit()">
        <div class="row">
            <label for="name">Full Name</label>
            <div class="control">
                <input type="text" formControlName="name" id="name">
                <div class="errors">
                    <ul>
                        <li><span>Error</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <label for="email">Email Address</label>
            <div class="control">
                <input type="email" formControlName="email" id="email">
                <div class="errors">
                    <ul>
                        <li><span>Error</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <label for="phone">Phone Number</label>
            <div class="control">
                <input type="text" formControlName="phone" id="phone">
                <div class="errors">
                    <ul>
                        <li><span>Error</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <label for="interest">Interested In</label>
            <div class="control">
                <app-select id="interest" [items]="MapServices" formControlName="interest" />
                <div class="errors">
                    <ul>
                        <li><span>Error</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <label for="location">Location</label>
            <div class="control">
                <app-select id="location" [items]="Locations" formControlName="location" />
                <div class="errors">
                    <ul>
                        <li><span>Error</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <label for="mg">Message</label>
            <div class="control">
                <textarea id="mg"></textarea>
                <div class="errors">
                    <ul>
                        <li><span>Error</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <button type="submit">Request Your Consultation</button>
        </div>
    </form>
</section>