div.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    > a {
        display: block;
        height: 2em;
        width: 2em;
        cursor: pointer;
        > img {
            display: block;
            height: 100%;
            width: 100%;
        }
    }
}
