<div class="consult-menu-wrapper">
    <div class="menu-seg">
        <a class="menu-heading" (click)="ToggleMenu($event)" href="#">Automation</a>
        <ul class="show">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a (click)="LinkClicked()" routerLink="/smart-home-automation-solutions">Home automation</a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a (click)="LinkClicked()" routerLink="/smart-office-automation-solutions">Office automation</a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a (click)="LinkClicked()" routerLink="/industry">Industry automation</a></li> <!-- [state]="{routeId:'five'}"-->
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a (click)="LinkClicked()" routerLink="/security">Security automation</a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a (click)="LinkClicked()" routerLink="/space">Space optimization</a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a (click)="LinkClicked()" routerLink="/energy">Energy automation</a></li>
        </ul>
    </div>
    <div class="menu-seg">
        <a class="menu-heading" (click)="ToggleMenu($event)" href="#">Consulting</a>
        <ul class="show">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a (click)="LinkClicked()" routerLink="/bank">Banking</a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a (click)="LinkClicked()"  routerLink="/market">Capital Markets</a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a (click)="LinkClicked()"  routerLink="/data">Data & AI</a></li>
        </ul>
    </div>
</div>