<div class="consult-menu-wrapper">
    <div class="menu-seg">
        <a class="menu-heading" (click)="ToggleMenu($event)" href="#">Automation</a>
        <ul class="show">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a (click)="LinkClicked()" routerLink="/smart-home-automation-solutions">Home automation</a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a (click)="LinkClicked()" routerLink="/smart-office-automation-solutions">Office automation</a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a (click)="LinkClicked()" routerLink="/industrial-automation-solutions">Industrial automation</a></li> <!-- [state]="{routeId:'five'}"-->
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a (click)="LinkClicked()" routerLink="/cctv-video-surveillance-security-cameras">Security automation</a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a (click)="LinkClicked()" routerLink="/space-saving-furniture-solutions">Space optimization</a></li>
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a (click)="LinkClicked()" routerLink="/solar-energy-solutions">Energy automation</a></li>
        </ul>
    </div>
    <div class="menu-seg">
        <a class="menu-heading" (click)="ToggleMenu($event)" href="#">Consulting</a>
        <ul class="show">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a (click)="LinkClicked()" routerLink="/software-consulting-services">Software Consulting services</a></li>
        </ul>
    </div>
</div>