<app-hero [showCLient]="true"
    p="Whether it’s your home, office or industrial plant—security starts with smart surveillance. Our cutting-edge CCTV cameras and centralized video surveillance systems offer real-time monitoring, remote access, and AI-powered alerts to protect what matters most. Expert installation across Bangalore, Bhubaneswar and Cuttack."
    h1="Centralized Video Surveillance Systems & CCTV Installation Services in Bangalore, Bhubaneswar & Cuttack">
    <div class="actions" actions>
        <a class="sec" href="">Request Security Assessment&nbsp;&nbsp;&rarr;</a>
    </div>
</app-hero>