<div class="wrapper">
    <h2>Security Automation</h2>
    <div class="boxes">
        <div class="sec-box">
            <app-box img="/images/automation/security/cctv.jpeg" alt="cctv" header="CCTV installation"
                body="CCTV installation powered by Solar panel" />
        </div>
        <div class="sec-box">
            <app-box img="/images/automation/security/cctvdevice.jpg" alt="cctv devices"
                header="CCTV installation with centeralised control"
                body="CCTV installation with centeralised control via mobile app" />
        </div>
        <div class="sec-box">
            <app-box img="/images/automation/security/cctvnotification.jpg" alt="cctv notification"
                header="CCTV activity notification"
                body="get notified on mobile App whenever there is any movment detected" />
        </div>
    </div>
</div>