<app-hero [showCLient]="true"
    p="Whether it's your home, office or industrial plant—security starts with smart surveillance. Our cutting-edge CCTV cameras and centralized video surveillance systems offer real-time monitoring, remote access, and AI-powered alerts to protect what matters most. Expert installation across Bangalore, Bhubaneswar and Cuttack."
    h1="Centralized Video Surveillance Systems & CCTV Installation Services in Bangalore, Bhubaneswar & Cuttack">
    <div class="actions" actions>
        <a class="sec" (click)="CaptureClicks('security_automation_assesment')"
            [href]="cont.PopulateContactLocation()">Request Security Assessment&nbsp;&nbsp;&rarr;</a>
    </div>
</app-hero>
<section class="types">
    <h2>Our Security Solutions</h2>
    <div class="cards">
        <mat-card *ngFor="let c of types">
            <mat-card-header>
                <mat-card-title>{{c.title}}</mat-card-title>
            </mat-card-header>
            <img loading="lazy" mat-card-image [src]="'/images/automation/security/'+c.imgSrc+'.png'" [alt]="c.imgalt">
            <mat-card-content>
                <ul class="card-list">
                    <ng-container *ngFor="let point of c.points">
                        <li>{{point}}</li>
                    </ng-container>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
    <a (click)="CaptureClicks('industry_automation_assesment')" [href]="cont.PopulateContactLocation()" class="highlight-text">Request a Custom Quote</a>
</section>
<section class="indus">
    <h2>Industry-Specific CCTV Installation Services</h2>
    <ul class="strong-bullet-points">
        <li><strong>Homes & Apartments</strong>Door cameras, perimeter alerts</li>
        <li><strong>Corporate Offices</strong>Lobby surveillance, employee tracking, server room security</li>
        <li><strong>Retail Stores & Malls</strong>Theft prevention, customer footfall analysis</li>
        <li><strong>Factories & Warehouses</strong>Asset protection, entry/exit tracking, plant floor visibility</li>
        <li><strong>Hospitals & Schools</strong>Real-time emergency alerts, visitor management</li>
    </ul>
</section>
<section>
    <app-service-areas
        header="We provide professional security camera installation and maintenance services throughout:"
        bangalore="and surrounding areas" bhubaneshwar="and surrounding areas"
        cuttack="and surrounding areas"></app-service-areas>
</section>
<app-contact h2="Ready to Upgrade Your Security?" />
<app-interest [data]="others"/>