section.content {
    padding: 1em;
}

section.types {
    padding: 1em;
    > h2 {
    }
    > div.type {
        padding: 0.5em;
        display: grid;
        grid-template-columns: 50px 1fr;
        @media (max-width:752px) {
            grid-template-columns: 30px 1fr;
        }
        gap: 10px;
        > div.icon {
            padding-top: 3px;
            > img {
                display: block;
                width: 100%;
                object-fit: contain;
            }
        }
        > div.content {
            > h3 {
            }
            > p {
            }
            > div.sub-content {
                margin: 0.5em 0;
                > h4 {
                }
                
            }
        }
    }
}
