<div class="wrapper">
    <h2>Industry Automation</h2>
    <div class="boxes">
        <div class="ind-box">
            <app-box img="/images/automation/industry/fms.png" alt="FMS" header="Fleet management system on cloud"
                body="Interface with ADAS processor for ADAS event recognition, Connects to cloud via GPRS through a cellular modem, Integrated GNSS for Navigation" />
        </div>
        <div class="ind-box">
            <app-box img="/images/automation/industry/machine.png" alt="machine" header="Machine Automation"
                body="Automate and monitor Air Compressors, Chillers, Generators, smart meters, Circuit breakers" />
        </div>
        <div class="ind-box">
            <app-box img="/images/automation/industry/coldstorage.png" alt="cold storage"
                header="Cold storage monitoring"
                body="BLE nodes to measure temperature and humidity, GPS sensor in ioT device will continuously keep track of location" />
        </div>
        <div class="ind-box">
            <app-box img="/images/automation/industry/tracking.png" alt="tracking"
                header="Asset tag and trace & Geo fencing"
                body="Bluetooth (BLE) Beacons/tags, Readers Gateways to read beacon signals and to communicate to cloud, Triangulation for indoor positioning. Geo fencing as per warehouse perimeter" />
        </div>
        <div class="ind-box">
            <app-box img="/images/automation/industry/devices.png" alt="devices"
                header="Smart Devices for Building Automation"
                body="Custom designed smart switch, PIR and LDR sensors, Bluetooth(BLE)/ WiFi based Smart Switch To remotely control electrical appliances, detect object/light. Integrated relays to turn ON/OFF switches, Can be retro fit onto existing switch boards. Smart Switch control via mobile app" />
        </div>
        <div class="ind-box">
            <app-box img="/images/automation/industry/sos.png" alt="SOS" header="Panic button/SoS/Emergency button"
                body="GPS & GPRS based device for raising panic alerts, alarms, triggering SoS and emergency requests configurable via mobile app. Location, vehicle & driver details sent regularly to cloud" />
        </div>
        <div class="ind-box">
            <app-box img="/images/automation/industry/substation.png" alt="substation"
                header="Power Substation Monitoring & Control"
                body="GPRS based IoT device, MODBUS RTU communication to fetch electrical parameters to monitor power quality from the control panel. Track changes in all electrical parameters, circuit breakers, Isolators & Relay status to identify the faults and suggest recovery tips to maintain the power quality" />
        </div>
        <div class="ind-box">
            <app-box img="/images/automation/industry/solar.png" alt="solar" header="Remote monitoring of Solar farm"
                body="GPRS based, condition monitoring of solar panel, MPPT charger & Battery, Retrofitting of custom sensors to measure power, Condition monitoring, Predictive maintenance of Solar plant equipment" />
        </div>
    </div>
</div>