<app-hero [showCLient]="true"
    p="We offer a comprehensive suite of Industrial Automation Solutions designed to improve operational efficiency, enhance safety and deliver smart control across your facilities. Our systems are fully integrated with IoT, cloud and real-time analytics —available in Bangalore, Bhubaneswar & Cuttack."
    h1="Industrial Automation Solutions for Smart, Scalable Growth | Bangalore, Bhubaneswar & Cuttack">
    <div class="actions" actions>
        <a class="pri" (click)="CaptureClicks('industry_automation_hero')"
            [href]="cont.PopulateContactLocation()">Schedule Free Consultation&nbsp;&nbsp;&rarr;</a>
    </div>
</app-hero>
<section class="content">
    <h2>Comprehensive Industrial Automation Services</h2>
    <p>At GOAS, we bring together IoT, AI and cloud technologies to deliver industry-specific solutions with measurable
        impact. Here are some of the key benefits of Industrial automation:</p>
    <ul class="card-list">
        <li>Minimize downtime & manual errors</li>
        <li>Maximize output & energy efficiency</li>
        <li>Improve worker safety & real-time monitoring</li>
        <li>Integrate predictive maintenance</li>
        <li>Centralize system control & data visibility</li>
    </ul>
</section>
<section class="types">
    <h2>Our Industrial Automation Solutions</h2>
    <div class="type" *ngFor="let ty of content">
        <div class="icon"><img loading="lazy" [src]="'/images/automation/industry/'+ty.icon+'.png'" [alt]="ty.alt">
        </div>
        <div class="content">
            <h3>{{ty.h3}}</h3>
            <p>{{ty.p}}</p>
            <div class="sub-content" *ngFor="let sub of ty.points">
                <h4>{{sub.h4}}</h4>
                <ul class="card-list">
                    <ng-content *ngFor="let pt of sub.points">
                        <li>{{pt}}</li>
                    </ng-content>
                </ul>
            </div>
        </div>
    </div>
    <a [href]="cont.PopulateContactLocation()" class="highlight-text">Request a Custom Quote</a>
</section>
<app-service-areas footer="" header="We work closely with clients across industrial hubs in:"
bangalore="Supporting businesses throughout the city and surrounding commercial zones"
bhubaneshwar="Supporting businesses throughout the city and surrounding commercial zones"
cuttack="Supporting businesses throughout the city and surrounding commercial zones"></app-service-areas>
<section class="working">
    <h2>Our Implementation Process</h2>
    <ul>
        <li><strong>Step&nbsp;1</strong>Comprehensive Assessment</li>
        <li><strong>Step&nbsp;2</strong>Strategic Solution Design</li>
        <li><strong>Step&nbsp;3</strong>Deployment & Integration</li>
        <li><strong>Step&nbsp;4</strong>Training & Support</li>
    </ul>
</section>
<app-contact h2="Start Your Automation Journey" />
<app-interest [data]="others"/>