<app-hero [showCLient]="true"
    p="We offer a comprehensive suite of Industrial Automation Solutions designed to improve operational efficiency, enhance safety and deliver smart control across your facilities. Our systems are fully integrated with IoT, cloud and real-time analytics —available in Bangalore, Bhubaneswar & Cuttack."
    h1="Industrial Automation Solutions for Smart, Scalable Growth | Bangalore, Bhubaneswar & Cuttack">
    <div class="actions" actions>
        <a class="sec" href="">Schedule Free Consultation&nbsp;&nbsp;&rarr;</a>
    </div>
</app-hero>