footer.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2.5em 1.5em;
    background-color: #ffffff;
    > div.footer-top {
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;

        > div.top-section {
            &.links {
                > ul {
                    display: flex;
                    flex-direction: column;
                    > li > a {
                        text-decoration: underline;
                    }
                }
            }
            > img {
                display: block;
            }
            > p {
            }
            > strong {
                margin-bottom: 12px;
                display: block;
            }
            > ul {
                list-style: none;
                gap: 10px;
                font-size: 0.9rem;
                > li {
                    > a {
                        text-decoration: none;
                        > img,
                        svg {
                            display: block;
                            height: 1.5em;
                            object-fit: contain;
                        }
                    }
                }
            }
        }
    }
    > div.footer-bottom {
        > span {
            font-size: 0.8rem;
        }
    }
}
